<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
</head>
<body>
    <div th:fragment="header">
        <span>Current user: </span>
        <span th:text="${#authentication.principal.username}" style="color: cadetblue">Username</span>
        <form th:action="@{/logout}" method="post">
            <button type="submit">Logout</button>
        </form>
        <div th:insert="~{fragment :: locale}"></div>
    </div>


    <div th:fragment="locale">
        <form action="">
            <select name="lang" onchange="this.form.submit()">
                <option></option>
                <option value="en">EN</option>
                <option value="ru">RU</option>
            </select>
        </form>
    </div>

<!-- in "back" we need to have @Bean LocaleChangeInterceptor -->

</body>
</html>